APPUSER_UID=0000
APPUSER_GID=0000
APPUSER_NAME=appuser

PYTHON_VERSION=3.13
PIP_VERSION=25.0.1

JUPYTER_TOKEN=

AWS_PROFILE=default

BACKLOG_API_KEY=xxxxxxxxxx

MYSQL_ROOT_PASSWORD=xxxxxxxxxx
MYSQL_DATABASE=vectordb
MYSQL_USER=vectoruser
MYSQL_PASSWORD=xxxxxxxxxx
MYSQL_TZ=Asia/Tokyo

PGVECTOR_POSTGRES_USER=postgres
PGVECTOR_POSTGRES_PASSWORD=postgres
PGVECTOR_POSTGRES_DB=vectordb
